.blogTitle {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
text-align: center;
}


.container {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 150px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.Singlelink a{
  text-decoration: none;
  color: black;
}

.text-part{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.readMoreButton{
  width: 100%;
  border-radius: 5px;
}

.readMoreButton:hover{
  background-color: rgb(194, 188, 188);
}

.blogContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.singleBlog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 5%;
  background-color:rgb(243, 237, 255);
  border-radius: 10px;
}

.image-part {
  width: 100%;
  height: 200px;
}

.image-part img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 10px;
  background-color:rgb(243, 237, 255);
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
}

.input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(165, 142, 142);
  box-sizing: border-box;
}

.loginRegisterButton{
  border: 1px solid rgb(165, 142, 142);
  border-radius: 5px;
}

.dontHaveAccount,
.dontHaveAccount.a {
  text-decoration: none;
  color: black;
}

.category {
  padding: 3px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  text-align: center;
}

.category:hover{
  cursor: pointer;
  box-shadow: 0 0 10px #000000;
}

.Technology {
  background-color: #3498db;
}

.Travel {
  background-color: #2ecc71;
}

.Food {
  background-color: #e74c3c;
}

.Lifestyle {
  background-color: #f39c12;
}

.Fashion {
  background-color: #8e44ad;
}

.Finance {
  background-color: #27ae60;
}

.HealthAndFitness {
  background-color: #d35400;
}

.BookReviews {
  background-color: #2980b9;
}

.Entertainment {
  background-color: #c0392b;
}

.DiyAndCrafts {
  background-color: #16a085;
}

.nav-item {
  text-decoration: none;
}

/* Media Queries for Smaller Screens */
@media screen and (max-width: 1200px) {
  .blogContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .singleBlog {
    gap: 10px;
  }

  .image-part {
    height: 150px;
  }

  .category {
    font-size: 12px;
  }
}

.sorting{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px 0px;
}


.sorting_sortingButtons{
  border: 1px solid black;
 width: 150px;
 background-color: #290661;
 color: #fff;
 padding: 2px 0px;
 border-radius: 5px;
}